body {
    text-align: center;
}


.center {
    margin-top: 20px;
}


.image-container {
    display: flex;
    justify-content: center;
}


.image-container a {
    margin: 25px;
    text-decoration: none;
    color: black;
}


.image-container img {
    width: 500px;
    height: 500px;
}


.image-container p {
    margin: 10px 0;
}

.footer {
    background-color: grey;
    padding: 70px;
    display: flex;
    justify-content: space-around;


}

.font {
  font-size: 25px;
    text-align: left;
}
