body {
    text-align: center;
    background-image: url('images/wallpaper.jpg'); 
        background-size: cover;
        background-repeat: no-repeat; 
        background-attachment: fixed;
}


.center {
    margin-top: 30px;
    text-align: 35px;
}


.image-container {
    display: flex;
    justify-content: center;
    text-align: 25px;
}


.image-container a {
    margin: 25px;
    text-decoration: none;
    color: black;
}


.image-container img {
    width: 350px;
    height: 350px;
}


.image-container p {
    margin: 10px 0;
}

.footer {
    background-color: grey;
    padding: 70px;
    display: flex;
    justify-content: space-around;
    {


.font {
  font-size: 30px;
    text-align: left;
}

