body {
    text-align: center;
}


.center {
    margin-top: 20px;
}


.image-container {
    display: flex;
    justify-content: center;
}


.image-container a {
    margin: 25px;
    text-decoration: none;
    color: black;
}


.image-container img {
    width: 500px;
    height: 500px;
}


.image-container p {
    margin: 10px 0;
}

.footer {
    background-color: grey;
    padding: 70px;
    display: flex;
    justify-content: space-around;


}

.footer__title {
    font-size: 30px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

.footer__left {
    margin-right: 10px;
    text-align: left;
    width: 50%; 
    padding: 0 250px; 

}


.footer__right {
    margin-right: 10px;
    width: 50%;
    padding: 0 200px;
    text-align: right;

}
